/* Mulish font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;1000&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);
}
::placeholder{
    color: var(--paragraph-color);
}

/* Shared styles */
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section-title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
}
.section-subtitle{
    color: var(--secondary-color);
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.section-paragraph{
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625rem;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    line-height: normal;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px;
    cursor: pointer;
}

/* NAV Styles */
nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav .logo a{
    display: flex;
    gap: 25px;
    align-items: center;
}
nav .logo a img{
    width: 48px;
    height: auto;
}
nav .logo a h3{
    font-size: 	2.25rem;
    font-weight: 800;
}
nav .logo a h3 span{
    color: var(--primary-color);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 44px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--primary-color);
}

/* Banner Styles */
.banner{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
}
.banner .banner-bg-overlay{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 106px 185px;
    border-radius: 16px;
}
.banner h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner p{
    max-width: 676px;
    margin: auto;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.banner form{
    margin-top: 48px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.banner form input[type="text"], .banner form select{
    background-color: #FFF;
    border-radius: 8px;
    border: 0;
    padding: 16px;
    font-size: 1rem;
    color: var(--paragraph-color);
    width: 100%;
    box-sizing: border-box;
}
.banner form select option{
    color: var(--paragraph-color);
}
.banner form button{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.banner form button img{
    width: 24px;
    height: 24px;
}



/* Responsive Styles */

/* Mobile styles */
@media screen and (max-width: 600px) {
    .container{
        margin: 0 20px;
    }
    /* NAV styles */
    nav .logo a{
        gap: 16px;
    }
    nav .logo a img{
        width: 28px;
    }
    nav .logo a h3{
        font-size: 	1.3rem;
    }
    nav{
        flex-direction: column;
        gap: 25px;
        padding: 25px 0;
    }
    nav ul{
        gap: 16px;
    }
    nav ul li a{
        font-size: 0.8rem;
    }

    /* Banner styles */
    .banner .banner-bg-overlay{
        padding: 32px 24px;
    }
    .banner h1{
        font-size: 1.5rem;
        margin-bottom: 16px;
    }
    .banner p{
        font-size: 0.9rem;
        line-height: 1.3rem
    }
    .banner form{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 32px;
    }
}