/* Mulish font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;1000&display=swap');

*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #FF5400;
    --secondary-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);
}
::placeholder{
    color: var(--paragraph-color);
}

/* Shared styles */
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.section-title{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
}
.section-subtitle{
    color: var(--secondary-color);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.section-paragraph{
    color: var(--paragraph-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625rem;
}
.section-spacing{
    margin-top: 100px;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    line-height: normal;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px;
    cursor: pointer;
}

/* NAV Styles */
nav{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav .logo a{
    display: flex;
    gap: 25px;
    align-items: center;
}
nav .logo a img{
    width: 48px;
    height: auto;
}
nav .logo a h3{
    font-size: 	2.25rem;
    font-weight: 800;
}
nav .logo a h3 span{
    color: var(--primary-color);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 44px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--primary-color);
    transition: 0.5s;
}

/* Banner Styles */
.banner{
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
    text-align: center;
}
.banner .banner-bg-overlay{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 106px 185px;
    border-radius: 16px;
}
.banner h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner p{
    max-width: 676px;
    margin: auto;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.banner form{
    margin-top: 48px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.banner form input[type="text"], .banner form select{
    background-color: #FFF;
    border-radius: 8px;
    border: 0;
    padding: 16px;
    font-size: 1rem;
    color: var(--paragraph-color);
    width: 100%;
    box-sizing: border-box;
}
.banner form select option{
    color: var(--paragraph-color);
}
.banner form button{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.banner form button img{
    width: 24px;
    height: 24px;
}

/* Popular Tour Styles */
.popular-tour{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}
.popular-tour img{
    max-width: 540px;
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.popular-tour .content .section-paragraph{
    margin-top: 24px;
}
.popular-tour .content ul{
   padding-left: 30px;
}
.popular-tour .content ul li{
   padding-left: 10px;
}
.popular-tour .content .btn-primary{
    margin-top: 32px;
 }

 /* Chose Destination */
 .chose-destination{
    text-align: center;
 }
 .chose-destination .section-title{
    margin-bottom: 24px;;
 }
 .chose-destination .section-paragraph{
    max-width: 640px;
    margin: 0 auto;
 }
 .cs-item-container{
    margin-top: 48px;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    gap: 24px;
 }
 .cs-item-row{
    display: grid;
    gap: 24px;
 }
 .cs-item{
    background-color: lightgray;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .cs-item a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
 }
 .cs-item-row-1{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

 }
 .cs-item-row-2{
    grid-template-columns: 374px 474px 274px;
    gap: 24px;

 }
 .cs-item-row-3{
    grid-template-columns: 473px 673px;

 }
 .cs-items-1, .cs-items-2, .cs-items-3, .cs-items-4, .cs-items-5, .cs-items-6, .cs-items-7{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
 .cs-items-1{
    background-image: url(../images/cs-1.jpg);
 }
 .cs-items-2{
    background-image: url(../images/cs-2.jpg);
 }
 .cs-items-3{
    background-image: url(../images/cs-3.jpg);
 }
 .cs-items-4{
    background-image: url(../images/cs-4.jpg);
 }
 .cs-items-5{
    background-image: url(../images/cs-5.jpg);
 }
 .cs-items-6{
    background-image: url(../images/cs-6.jpg);
 }
 .cs-items-7{
    background-image: url(../images/cs-7.jpg);
 }

 /* Why Chose Us */
 .wcs{
    text-align: center;
 }
 .wcs .section-title{
    margin-bottom: 24px;
 }
 .wcs .section-paragraph{
    max-width: 640px;
    margin: 0 auto;
 }
 .wcs-card-1{
    grid-area: card-1;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
 }
 .wcs-card-2{
    grid-area: card-2;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
 }
 .wcs-card-3{
    grid-area: card-3;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    max-width: 574px;
    margin: 0 auto;
 }
 .wcs-card-container{
    margin-top: 48px;
    display: grid;
    grid-template-areas: 
        "card-1 card-2"
        "card-3 card-3"
    ;
    gap: 24px;
 }
.wcs-card{
    border-radius: 16px;
    padding: 32px;
    text-align: left;
}
.wcs-card .section-subtitle{
    margin-top: 32px;
    margin-bottom: 16px;
}
.wcs-card .section-paragraph{
    color: #5A5A5D;
}
.wcs-card img{
    width: 64px;
    height: 64px;
}

/* Responsive Styles */

/* Mobile styles */
@media screen and (max-width: 600px) {
    .container{
        margin: 0 20px;
    }
    .section-spacing{
        margin-top: 40px;
    }
    .section-title{
        font-size: 1.25rem;
    }
    .section-paragraph{
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    /* NAV styles */
    nav .logo a{
        gap: 16px;
    }
    nav .logo a img{
        width: 28px;
    }
    nav .logo a h3{
        font-size: 	1.3rem;
    }
    nav{
        flex-direction: column;
        gap: 25px;
        padding: 25px 0;
    }
    nav ul{
        gap: 16px;
    }
    nav ul li a{
        font-size: 0.8rem;
    }

    /* Banner styles */
    .banner .banner-bg-overlay{
        padding: 32px 24px;
    }
    .banner h1{
        font-size: 1.5rem;
        margin-bottom: 16px;
    }
    .banner p{
        font-size: 0.9rem;
        line-height: 1.3rem
    }
    .banner form{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 32px;
    }

    /* Popular Tour */
    .popular-tour{
        flex-direction: column;
        gap: 30px;
    }

    /* Chose Destination */
    .cs-item-container{
        margin-top: 24px;
        grid-template-rows: auto;
    }
    .cs-item a{
        font-size: 1.25rem;    
     }
    .cs-item-row-1, .cs-item-row-2, .cs-item-row-3{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .cs-item-row-1{
        grid-template-rows: 176px 176px;
    }
    .cs-item-row-2{
        grid-template-rows: 176px 176px 176px;
    }
    .cs-item-row-3{
        grid-template-rows: 176px 176px;
    }

    /* Shy Chose Us */
    .wcs .section-subtitle{
        font-size: 1.25rem;
    }
    .wcs-card img{
        width: 48px;
        height: 48px;
    }
    .wcs-card-container{
        margin-top: 24px;
        grid-template-areas: 
            "card-1"
            "card-2"
            "card-3"
        ;
        gap: 24px;
     }
}